{% extends "layout.html" %}
{% from "partials/helpers.html" import table_header with context %}
{% block body %}
<h2>Kunder</h2>

<div>
    <div class="float-left">
            <form class="form-inline" method="GET" action="{{url_for('customers', **request.args)}}">
                    <input class="form-control" value="{{request.args.filter}}" name="filter" type="text">
            </form>
    </div>
    <div class="text-right">
            <a class="btn btn-success" href="{{ url_for('new_customer') }}">Ny kund</a>
        </div>
</div>

<table class="table table-hover table-striped mt-3">
    <thead>
        <tr>
            {{table_header('name', 'Namn', 'customers')}}
            {{table_header('contact', 'Kontaktperson', 'customers')}}
            {{table_header('phone', 'Telefon', 'customers')}}
            {{table_header('email', 'E-post', 'customers')}}
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for c in customers -%}
            <tr>
                <td>{{c.name}}</td>
                <td>{{c.contact}}</td>
                <td>{{c.phone}}</td>
                <td>{{c.email}}</td>
                <td class="text-right">
                    <a href="{{url_for('edit_customer', id=c.id)}}"><i class="fas fa-edit"></i></a>
                    <a href="{{url_for('customer', **{'id': c.id, '__METHOD_OVERRIDE__': 'DELETE'})}}"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<nav>
    <ul class="pagination">
        {% for i in range(total_pages) -%}
        {% if i == page - 1 %}
        <li class="page-item active">
        {% else %}
        <li class="page-item">
        {% endif %}
            <a class="page-link" href="{{ url_for('customers', **merge(request.args, {'page': i + 1}))  }}">{{i + 1}}</a>
        </li>
        {% endfor %}
    </ul>
</nav>
{% endblock %}